        * { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Vazirmatn', sans-serif; }
        body { background-color: #051b2c; display: flex; justify-content: center; align-items: center; min-height: 100vh; color: #fff; }
        .container { width: 900px; max-width: 95%; background-color: #051b2c; border-radius: 20px; display: flex; overflow: hidden; }
        .form-section { flex: 1; padding: 40px; display: flex; flex-direction: column; justify-content: center; }
        .image-section { flex: 1; background-image: url('https://img.freepik.com/free-vector/comic-book-cover-template-design_23-2150438675.jpg'); 
            background-size: cover; 
            background-position: center; 
            position: relative; 
            align-items:center; 
        }
        .img-login{
            position: absolute;
            bottom: -45px;   /* فاصله از پایین */
            left: 50%;
            transform: translateX(-50%);
        }
        .logo { position: absolute; top: 0px; left: 20px; color: #39d3be; font-size: 1.5rem; font-weight: bold; display: flex; align-items: center; gap: 10px; z-index: 2; }
        
        .toggle-container { background-color: #1e1e1e; border-radius: 30px; display: flex; margin-bottom: 30px; padding: 5px; border: 1px solid #333; }
        .toggle-btn { flex: 1; padding: 12px; border: none; background: transparent; color: #aaa; cursor: pointer; border-radius: 25px; font-size: 1rem; transition: 0.3s; }
        .toggle-btn.active { background-color: #39d3be; color: #000; font-weight: bold; }

        .input-group { position: relative; margin-bottom: 20px; transition: all 0.3s ease; }
        .input-group input { width: 100%; background-color: #1e1e1e; border: 1px solid #333; padding: 15px 15px 15px 45px; border-radius: 10px; color: #fff; font-size: 0.9rem; outline: none; transition: 0.3s; }
        .input-group input:focus { border-color: #39d3be; }
        .input-group i { position: absolute; left: 15px; top: 50%; transform: translateY(-50%); color: #666; }

        .submit-btn { width: 100%; background-color: #39d3be; color: #000; border: none; padding: 15px; border-radius: 10px; font-size: 1rem; font-weight: bold; cursor: pointer; transition: 0.3s; margin-top: 10px; }
        .submit-btn:hover { background-color: #39d3be; }

        /* کلاس مخفی کردن فیلدها */
        .hide { display: none; }

        @media (max-width: 768px) {
            .container { flex-direction: column; }
            .image-section { display: none; }
        }